* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
p{
	font-family:'Work Sans Light';
	font-size: 15px;
	color: #A8A8A8;
}
h1,a,b,h6{
	font-family:'Work Sans Regular';
}
 
@font-face {
    font-family:'Work Sans Bold';
		src:url('../fonts/Work Sans Bold.woff2') format('woff2'),
		url('../fonts/Work Sans Bold.woff') format('woff');	
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Work Sans ExtraBold';
		src:url('../fonts/Work Sans ExtraBold.woff2') format('woff2'),
		url('../fonts/Work Sans ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Work Sans Light';
		src:url('../fonts/Work Sans Light.woff2') format('woff2'),
		url('../fonts/Work Sans Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Work Sans Regular';
		src:url('../fonts/Work Sans Regular.woff2') format('woff2'),
		url('../fonts/Work Sans Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

#home section.wrapper header{
	height: 100px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}
#home section.wrapper header h1.left{
	width: 200px;
}
#home section.wrapper header h1.left a img{
	width: 100%;
	display: block;
}
#home section.wrapper header h1.left a{
	display: inline-block;
}
#home section.wrapper header nav.right{
}
#home section.wrapper header nav.right ul{
	display: flex;
	align-items: center;
}
#home section.wrapper header nav.right ul li{
	margin-right: 50px;
}
#home section.wrapper header nav.right ul li:last-child{
	margin-right: 0;
}
#home section.wrapper header nav.right ul li a{
	color: #000;
	display: inline-block;
}
#home section.wrapper header nav.right ul li a.button{
	padding: 15px 21px;
    background: linear-gradient(45deg, #45B4FE, #54ECFE);
	border-radius: 30px;
	color: #ffffff;
}

#spotlight{
	display: flex;
}
#spotlight div.left {
	width: 50%;
}
#spotlight div.left small{
	width:60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid  #45B4FE;
}
#spotlight div.left span{
	font-size: 17px;
	color: #A8A8A8;
	font-family:'Work Sans Light';
}
#spotlight div.left h1{
	font-size: 56px;
	font-family:'Work Sans Bold';
    font-weight: bold;
    color: #161163;
    margin-top: 10px;
}
#spotlight div.left p{
	margin: 20px 0 80px 0;
}
#spotlight div.left div.buttons a.button{
	padding: 15px 30px;
    background: linear-gradient(45deg, #45B4FE, #54ECFE);
	border-radius: 22px;
	color: #ffffff;
	margin-right: 10%;
	display: inline-block;
}
#spotlight div.left div.buttons a.button1{
	padding: 15px 30px;
	border-radius: 22px;
	color: #86AFD4;
	border: 1px solid #86AFD4;
	display: inline-block;
}
#spotlight div.right{
	width: 50%;
}
#spotlight div.right img{
	width:100%;
	display: block;
}
#features{
	padding-top: 150px;
}
#features section.wrapper{
	display: flex;
}
#features section.wrapper div.left{
	width: 100%;
}
#features section.wrapper div.left h1{
	font-size: 40px;
	color: #161163;
	font-weight: bold;
}
#features section.wrapper div.left p{
	margin: 20px 0 80px 0;
}
#features section.wrapper div.left a.button{
	padding: 15px 30px;
    background: linear-gradient(45deg, #45B4FE, #54ECFE);
	border-radius: 22px;
	color: #ffffff;
	display: inline-block;
}
#features section.wrapper div.right ul{
	display: flex;
	justify-content: space-between;
}
#features section.wrapper div.right ul li{
	border: 1px solid  #45B4FE;
	width: 32%;
	text-align: center;
	padding: 9% 3% 9% 3%;
}
#features section.wrapper div.right ul li:last-child{
	margin-right: 0;
}
#features section.wrapper div.right ul li span{
	background-color: #4FACFE;
    width: 80px;
    height: 80px;
    margin: 0 auto;
	display: flex;
	border-radius: 50px;
	align-items: center;
    justify-content: center;
}
#features section.wrapper div.right ul li h4{
	margin: 9% 0 8% 0;
	font-size: 18px;
	font-family:'Work Sans Regular';
}
 
#about{
	padding: 10% 0 10% 0;
}
#about section.wrapper{
	display: flex;
}
#about section.wrapper div.left{
	width:50%;
	margin-right: 10%;	
}
#about section.wrapper div.left Img{
	width:100%;
	display: block;
}
#about section.wrapper div.right{
	width: 50%;
}
#about section.wrapper div.right small{
	width:60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid  #45B4FE;
}
#about section.wrapper div.right span{
	font-size: 17px;
	color: #A8A8A8;
	font-family:'Work Sans Light';
}
#about section.wrapper div.right h1{
	font-size: 40px;
	font-weight: bold;	
    color: #161163;
    margin-top: 1%;
}
#about section.wrapper div.right p{
	margin: 20px 0 80px 0;
}
#about section.wrapper div.right a.button{
	padding: 15px 30px;
    background: linear-gradient(45deg, #45B4FE, #54ECFE);
	border-radius: 22px;
	color: #ffffff;
	display: inline-block;
}
 
#banner{
	background: linear-gradient( to right, #45B4FE , #54EBFE);
	padding: 4% 0;
}
#banner section.wrapper div.items ul{
	display: flex;
    justify-content: space-between;
}
#banner section.wrapper div.items ul li{
	text-align: center;
}
#banner section.wrapper div.items ul li span.count{
	font-size: 56px;
    font-family: 'Work Sans Bold';
	color: #ffffff;
}
#banner section.wrapper div.items ul li small{
	width:60px;
	display: inline-block;
	border-bottom: 2px solid  #fff;
}
#banner section.wrapper div.items ul li h4{
	font-size: 25px;
    margin-top: 12%;
	color: #fff;
	font-family: 'Work Sans Regular';
}

#course{
	padding-top: 100px;
}
#course section.wrapper div.top{
	padding-bottom: 5%;
	text-align: center;
}
#course section.wrapper div.top small{
	width:60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid  #45B4FE;
}
#course section.wrapper div.top span {
	font-size: 17px;
	color: #A8A8A8;
	font-family:'Work Sans Light';
}
#course section.wrapper div.top h1{
	font-size: 40px;
	font-weight: bold;	
    color: #161163;
    margin-top: 1%;
}
#course section.wrapper div.bottom ul{
	display: flex;
	justify-content: space-between;
}
#course section.wrapper div.bottom ul li{
	border: 1px solid #50AAF8;
	border-radius: 20px 20px 0 0;
	width: 32%;
}
#course section.wrapper div.bottom ul li div.container{
	margin-bottom: 10%;
	
}
#course section.wrapper div.bottom ul li div.container img{
	width:100%;
	border-radius: 20px 20px 0 0;
	
}
#course section.wrapper div.bottom ul li div.items{
	padding: 5% 9% 6% 9%;
}
#course section.wrapper div.bottom ul li div.items div.content{
	border-bottom: 1px solid #A8A8A8;
}
#course section.wrapper div.bottom ul li div.items div.content div.top{
	display: flex;
	justify-content:space-between;
	padding: 0 ;
}
#course section.wrapper div.bottom ul li div.items div.content div.top button{
	background-color: #50AAF8;
	padding: 10px;
	color: #fff;
}
#course section.wrapper div.bottom ul li div.items div.content div.top span.count{
	color: #337AB7;
	font-size: 20px;
	font-family: 'Work Sans Bold';
	float: right
}
#course section.wrapper div.bottom ul li div.items div.content a{
	color: #337AB7;
	font-size: 23px;
	font-family: 'Work Sans Regular';
	font-weight: bold;
	display: inline-block;
	margin-top: 20px;
}
#course section.wrapper div.bottom ul li div.items div.content p{
	margin: 6% 0 6% 0;
}
#course section.wrapper div.bottom ul li div.bottom{
	display: flex;
	justify-content: space-between;
    padding: 4% 0 5% 0;
}
#course section.wrapper div.bottom ul li div.items div.bottom div.left{
	display: flex;
}
#course section.wrapper div.bottom ul li div.items div.bottom div.left a{
	display: inline-block;
	margin-right: 5%;	
}
#course section.wrapper div.bottom ul li div.items div.bottom div.left a img{
	
	width: 100%;
	display: block;
}
#course section.wrapper div.bottom ul li div.items div.bottom div.left div.text{
	display: flex;
    flex-wrap: wrap;
}
#course section.wrapper div.bottom ul li div.items div.bottom div.left div.text h6.top{
	font-size: 14px;
	color: #A8A8A8;
	font-weight: bold;
}
#course section.wrapper div.bottom ul li div.items div.bottom div.left div.text h6{
	font-size: 14px;
	color: #337AB7;
	font-weight: bold;
}
#course section.wrapper div.bottom ul li div.items div.bottom div.right img{
	width: 15%;
	
}
#course section.wrapper div.bottom ul li div.items div.bottom div.right b{
	color: #A8A8A8;
}

#system{
	padding-top: 10%;
}
#system section.wrapper{
	display: flex;
    justify-content: space-between;
}
#system section.wrapper div.left{
	width: 50%;
}
#system section.wrapper div.left div.top small{
	width:60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid  #45B4FE;
}
#system section.wrapper div.left div.top span{
	font-size: 17px;
	color: #A8A8A8;
	font-family:'Work Sans Light';
}
#system section.wrapper div.left div.top h1{
	font-size: 40px;
	color: #161163;
	font-weight: bold;
}
#system section.wrapper div.left div.top p{
	margin: 20px 0 70px 0;
}
#system section.wrapper div.left div.bottom ul{
	display: flex;
    justify-content: space-between;
}
#system section.wrapper div.left div.bottom ul li span{
	background-color: #4FACFE;
	margin-bottom: 10%;
    width: 80px;
    height: 80px;
    display: flex;
	border-radius: 50px;
	align-items: center;
    justify-content: center;
}
#system section.wrapper div.left div.bottom ul li h4{
	font-size: 25px;
	color: #4FACFE;
	font-family: 'Work Sans Regular';
}
#system section.wrapper div.right {
	width: 50%;
}
#system section.wrapper div.right img{
	width: 100%;
}

#testimonials {
	padding: 5% 0;
}
#testimonials div.head { 
	text-align: center;
    margin-bottom: 7%;
}
#testimonials div.head small{
	width:60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid  #45B4FE;
}
#testimonials section.wrapper div.head span{
	font-size: 17px;
	color: #A8A8A8;
	font-family:'Work Sans Light';
}
#testimonials section.wrapper div.head h1 { 
	font-size: 40px;
	color: #161163;
	font-weight: bold;
}
#testimonials section.wrapper div.slide{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#testimonials section.wrapper div.slide div.item{
	margin-right: 2%;
}
#testimonials section.wrapper div.slide div.item:last-child{
	margin-right: 0;
}
#testimonials section.wrapper div.slide div.item div.container{
	width: 210px;
}
#testimonials section.wrapper div.slide div.item div.container img{
	width:100%;
}
#testimonials section.wrapper div.slide div.item div.content{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
	text-align: center;
	padding: 50px 80px;
}
#testimonials section.wrapper div.slide div.item div.content  div.top p{
	font-style: italic;
}
#testimonials section.wrapper div.slide div.item div.content div.bottom{
	display: flex;
    justify-content: space-between;
}
#testimonials section.wrapper div.slide div.item div.content div.bottom h4{
	font-size: 25px;
	color: #45B4FE;
	font-weight: bold;
	font-family: 'Work Sans Regular';
}
 
#blog section.wrapper div.top{
	padding-bottom: 50px;
	text-align: center;
}
#blog section.wrapper div.top small{
	width:60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid  #45B4FE;
}
#blog section.wrapper div.top span {
	font-size: 17px;
	color: #A8A8A8;
	font-family:'Work Sans Light';
}
#blog section.wrapper div.top h1{
	font-size: 40px;
	font-weight: bold;	
    color: #161163;
    margin-top: 1%;
}
#blog section.wrapper div.bottom ul{
	display: flex;
	justify-content: space-between;
}
#blog section.wrapper div.bottom ul li{
	width: 32%;
	border: 1px solid #50AAF8;
	border-radius: 20px 20px 0 0;
}

#blog section.wrapper div.bottom ul li div.container img{
	width:100%;
	display: block;
	border-radius: 20px 20px 0 0;
	
}
#blog section.wrapper div.bottom ul li div.items{
	padding: 5% 9% 6% 9%;
}
#blog section.wrapper div.bottom ul li div.items div.content{
	border-bottom: 1px solid #A8A8A8;
}
#blog section.wrapper div.bottom ul li div.items div.content button{
	background-color: #50AAF8;
	padding: 10px;
	color: #fff;
	display: inline-block;
}
#blog section.wrapper div.bottom ul li div.items div.content a{
	margin: 18px 0 18px 0;
    color: #337AB7;
    display: inline-block;
    font-family: 'Work Sans Regular';
	font-weight: bold;
	
}
#blog section.wrapper div.bottom ul li div.items div.content p{
	margin-bottom: 20px;
}
#blog section.wrapper div.bottom ul li div.bottom{
	display: flex;
	justify-content: space-between;
    padding: 4% 0 5% 0;
}
#blog section.wrapper div.bottom ul li div.items div.bottom div.left{
	display: flex;
	align-items: center;
}
#blog section.wrapper div.bottom ul li div.items div.bottom div.left div.imagecontainer{
	width: 10%;
	margin-right: 5%;
}
#blog section.wrapper div.bottom ul li div.items div.bottom div.left div.imagecontainer img{
	display: block;
	width: 100%;
}
#blog section.wrapper div.bottom ul li div.items div.bottom div.left a{
	color: #A8A8A8;
	display: inline-block;
}
#blog section.wrapper div.bottom ul li div.items div.bottom div.right{
	display: flex;
	align-items: center;
}
#blog section.wrapper div.bottom ul li div.items div.bottom div.right div.imagecontainer{
	width: 10%;
	margin-right: 5%;
}
#blog section.wrapper div.bottom ul li div.items div.bottom div.right div.imagecontainer img{
	border: none;
	width: 100%;
}
#blog section.wrapper div.bottom ul li div.items div.bottom div.right a{
	color: #A8A8A8;
	display: inline-block;
}

footer{
	padding-top: 7%;
}
footer section.wrapper section.top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 6%;
}
footer section.wrapper section.top div.item{
	width: 30%;
}
footer section.wrapper section.top div.item a {
	display: inline-block;
}
footer section.wrapper section.top div.item p{
	margin-top: 3%;
}
footer section.wrapper section.top div.item h4{
	font-size: 25px;
	color: #161163;
	font-weight: bold;
	font-family: 'Work Sans Regular';
	margin-bottom: 3%;
}
footer section.wrapper section.top div.item div.top p{
	margin-bottom: 3%;
}
footer section.wrapper section.top div.item div.top form{
	border: 1px solid #337AB7;
	display: flex;
	justify-content: space-between;
	padding: 4px 4px 4px 13px;
	margin-bottom: 6%;	
}
footer section.wrapper section.top div.item div.top form input{
	font-size: 19px;
}
footer section.wrapper section.top div.item div.top form button{
	background: linear-gradient(to right,#43BAFE, #52E5FE);
	padding: 8px 15px;
    margin: 4px;
	color: #fff;
	border-radius: 8px;
	display: flex;
    align-items: center;
    justify-content: center;
}
footer section.wrapper section.top div.item div.bottom ul{
	display: flex;
}
footer section.wrapper section.top div.item div.bottom ul li{
	margin-right: 9%;
}
footer section.wrapper section.top div.item div.bottom ul li:last-child{
	margin-right: 0;
}
footer section.wrapper section.top div.item div.bottom ul li a span{
	background-color: #C0C0C0;
    width: 20px;
    height: 20px;
    display: flex;
	border-radius: 50px;
	justify-content: center;
    align-items: center;
}
footer section.wrapper section.top div.item ul li a{
	color:  #C0C0C0;
}
footer section.wrapper section.top div.item ul li p{
	margin-top: 0;
}
footer section.wrapper section.top div.item ul li b{
	color:#337AB7;
}
footer section.wrapper section.top div.item ul li{
	margin-bottom: 7px;
}
footer section.wrapper section.top div.item ul li:last-child{
	margin-bottom: 0;
	display: flex;
}
footer section.wrapper section.bottom p{
	text-align: center;
	border-top: 1px solid #C0C0C0;
	padding: 20px 0 20px 0;
	font-size: 19px;
}

/* responsive starts here */

@media all and (max-width: 1280px){
	#course section.wrapper div.bottom ul li div.items {
		padding: 0 5% 6% 5%;
	}
}
@media all and (max-width: 980px){
	#features section.wrapper div.left h1 {
		font-size: 37px;
	}
	#course section.wrapper div.bottom ul li div.items div.content a {
		font-size: 20px;
	}
	#course section.wrapper div.bottom ul li div.items div.bottom div.right b {
		font-size: 13px;
	}
	#course section.wrapper div.bottom ul li div.items div.bottom div.right ul li img{
		width: 	14%;
	}
	#course section.wrapper div.bottom ul li div.items div.content div.top span.count {
		font-size: 16px;
	}
	#course section.wrapper div.bottom ul li div.items div.content div.top button {
		padding: 8px;
	}
	#banner section.wrapper div.items ul li span.count {
		font-size: 50px;
	}
	#banner section.wrapper div.items ul li h4 {
		font-size: 23px;
	}
	#blog section.wrapper div.bottom ul li div.items div.bottom a {
		font-size: 13px;
	}
	footer section.wrapper section.top div.item div.top form input {
		font-size: 16px;
	}
}
@media all and (max-width: 768px){
	header nav.right{
		display: none;
	}
	#spotlight {
		display: block;
	}	
	#spotlight div.left{
		width: 100%;
		margin-bottom: 4%;
	}
	#spotlight div.right{
		width: 100%;
	}
	#features section.wrapper div.left{
		width: 100%;
		text-align: center;
		margin-bottom: 4%;

	}
	#features section.wrapper{
		display: block;
	}
	#features section.wrapper div.right {
		width: 100%;
	}
	#system{
		text-align: center	;
	}
	#system section.wrapper{
		display: block;
	}
	#system section.wrapper div.left {
		width: 100%;
	}
	#system section.wrapper div.right {
		width: 100%;
	}
	#system section.wrapper div.left div.bottom ul li span {
		margin: 0 auto;
	}
	#system section.wrapper div.left div.bottom ul li h4 {
		margin-top: 4%;
	}
	#about section.wrapper {
		display: block;
	}
	#about section.wrapper div.left {
		width: 100%;
	}
	#about section.wrapper div.right {
		width: 100%;
		text-align: center;
	}
	
	#course section.wrapper div.bottom ul{
		flex-wrap: wrap;
	}
	#course section.wrapper div.bottom ul li {
		width: 49%;
		margin-right: 2%;
	}
	#course section.wrapper div.bottom ul li:nth-child(3){
		margin-top: 3%;
	}
	#course section.wrapper div.bottom ul li:nth-child(2){
		margin-right: 0;	
	}
	#course section.wrapper div.bottom ul {
		justify-content: center;
	}
	#blog section.wrapper div.bottom ul {
		flex-wrap: wrap;
		justify-content: center;
	}
	#blog section.wrapper div.bottom ul li{
		width: 48%;
	}
	#blog section.wrapper div.bottom ul li:nth-child(1){
		margin-right: 20px;
	}
	#blog section.wrapper div.bottom ul li:nth-child(3){
		margin-top: 20px;
	}
	footer section.wrapper section.top div.item div.top form input {
		font-size: 11px;
	}
}
@media all and (max-width: 640px){
	#home {
		text-align: center	;
	}
	header nav.right{
		display: none;
	}
	#testimonials section.wrapper div.slide{
		flex-wrap: wrap;
	}
	#testimonials section.wrapper div.slide div.item:nth-child(1){
		margin-bottom: 4%;
	}
	#testimonials section.wrapper div.slide div.item div.container img {
		display: none;
	}
	#banner section.wrapper div.items ul {
		flex-wrap: wrap;
	}
	#banner section.wrapper div.items ul li {
		width: 50%;
	}	
	#course section.wrapper div.bottom ul li {
		width: 100%;
	}
	#course section.wrapper div.bottom ul li{
		margin-bottom: 4%;
	}
	#course section.wrapper div.bottom ul li:last-child{
		margin-bottom: 0;
	}
	#blog section.wrapper div.bottom ul {
		justify-content: center;
		flex-wrap: wrap;
	}
	#blog section.wrapper div.bottom ul li {
		margin-right: 0;
		margin-bottom: 3%;
		width: 100%;
	}
	#blog section.wrapper div.bottom ul li:last-child{
		margin-bottom: 0;
	}
	footer section.wrapper section.top{
		display: block;
	}
	footer section.wrapper section.top div.item{
		width:50%;
	}
	footer section.wrapper section.top div.item h4 {
		margin-top: 12%;
	}
	footer section.wrapper section.bottom p {
		font-size: 15px;
	}	
}
@media all and (max-width: 480px){
	#spotlight div.left h1 {
		font-size: 46px;
	}
	#features section.wrapper div.right ul {
		flex-wrap: wrap;
	}
	#features section.wrapper div.right ul li{
		width: 100%;
	}
	#features section.wrapper div.right ul li{
		margin-bottom: 3%;
		margin-right: 0;
	}
	#features section.wrapper div.right ul li:last-child{
		margin-bottom: 0;
	}
	#features section.wrapper div.left {
		margin-bottom: 8%;
	}
	#banner section.wrapper div.items ul li span.count {
		font-size: 35px;
	}
	#banner section.wrapper div.items ul li h4 {
		font-size: 15px;
	}
}
@media all and (max-width: 360px){
	#spotlight div.left span {
		font-size: 16px;
	}
	#spotlight div.left h1 {
		font-size: 34px;
	}
	#spotlight div.left a.button {
		padding: 15px 9px;
	}
	#spotlight div.left a.button1 {
		padding: 15px 9px;
	}
	footer section.wrapper section.top div.item div.top form input {
		font-size: 6px;
	}
}
